  /* :root {
      --trns: black;
  } */

  * {
      margin: 0px;
      padding: 0px;

  }

  body {
      line-height: 18px;
      font-size: 14px;
      overflow: auto;
      font-family: "Lato", sans-serif;
  }


  .section1 {
      background-image: url(/images/slider-bg-1.jpg);
      width: 100%;
      height: 100vh;
      margin: 0px;
      margin-top: -20px;
  }

  .header {
      display: flex;
      justify-content: space-around;
      align-items: center;
      position: fixed;
      margin-top: -20px;
      width: 100%;
      height: 15%;
      border: none;
      border-radius: 0px;
      background: transparent;
      margin-bottom: 0px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    

  }

  .header::before {
      content: "";
      background-color: black;
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 0px;
      margin-bottom: 0px;
     z-index: -1 !important;
      opacity: 0.4;
  }

  /* .header img {
        cursor: pointer;
        padding-top: 20px;
    } */


  .header ul li {
      list-style: none;
      display: inline-block;
      margin: 10px;
      padding-top: 20px;

  }

  .header ul {
      text-align: center;
  }

  .header ul li a:hover {
      color: #f8395d;
  }

  .header ul li a {
      text-decoration: none;
      color: white;
      font-size: 18px;
  }

  .head2 {
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin-top: 20px;
  }

  .head2 img {
      width: 90%;
      height: 521px !important;
      margin-top: 20rem;
  }

  .main h1 {
      color: white;
      font-size: 35px;
      margin-top: 10rem;
  }

  .main p {
      color: white;
      font-size: 20px;
  }

  #btn {
      padding: 20px 50px;
      font-size: 18px;
      background: transparent;
      border: 2px solid white;
      border-radius: 5px;
      color: white;
      margin-top: 3rem;
      transition: color 2s linear;
      position: relative;
  }

  #btn:hover {
      background-color: white;
      color: #a640d0;
  }

  /* #btn::after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: white;
        z-index: -1;
        transition: transform 1s;
        transform-origin: 0 0;
        transition-timing-function: cubic-bezier(0.5, 1.6,0.4, 0.7);
    }
    #btn::after {
        transform: scaleX(0);
    }
    #btn:hover::after {
        transform: scaleX(1);
    } */


  /* https://www.youtube.com/watch?v=CMgl_etzlTI */


  /* -----------------About Us-------------------- */


  .about-Us {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: auto;
  }

  .about-Us h1 {
      font-size: 45px;
      color: #f8395d;
      margin-top: 6rem;
  }

  .about-Us .p_1 {
      color: #f8395d;
      font-size: 20px;
      margin-top: 15px;
  }

  .about-Us .p_2 {
      color: #a640d0;
      font-size: 18px;
      margin-top: -10px;
  }

  .mediafile {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 70%;
      margin-top: 5rem;
  }

  .m1 iframe {
      width: 600px;
      height: 400px;
  }

  /* .m2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
    } */
  .AA {
      display: flex;
      justify-content: left;
      align-items: center;
      flex-direction: column;
  }

  .m2 h3 {
      margin-top: -8rem;
      font-size: 1rem;
      opacity: 0.7;
      text-align: center;
  }

  .m2 p {
      font-size: 0.8rem;
      opacity: 0.8;
      margin-top: 0rem;
      padding: 20px;
      text-align: center;
  }

  /* .button_1 {
        width: 100%;
    } */
  .btn2 {
      display: inline-block;
      background-color: transparent;
      padding: 15px 40px;
      border: 1px solid #f8395d;
      border-radius: 5px;
      font-size: 18px;
      margin-top: 3rem;
      background-color: #f8395d;
      color: beige;
  }

  .btn2:hover {
      background-color: white;
      color: #f8395d;
  }

  .process {
      width: 100%;
      height: 40vh;
      background-color: #f4a306;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 5rem;
  }

  .process_1 {
      width: 20%;
      height: auto;
      font-family: "Montserrat", sans-serif;
      text-transform: uppercase;
      text-align: center;
      padding: 35px;
      margin-top: 30px;

  }

  .process_1 h2 {
      color: white;
      font-size: 2.2rem;
      padding: 30px;
  }

  /* ------------------Features Section------------------- */
  .features {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: #f1f1f1;
      padding-bottom: 5rem;
  }

  .features h1 {
      font-size: 45px;
      color: #f8395d;
      margin-top: 6rem;
  }

  .features p {
      color: black;
      font-size: 20px;
      margin-top: 15px;
      text-align: right;
  }

  .features .p_ {
      color: #f8395d;
      font-size: 18px;
      margin-top: -10px;
  }

  .features .p_2 {
      color: #a640d0;
      font-size: 18px;
      margin-top: -10px;
  }

  .fesection {
      display: flex;
      justify-content: center;
      margin-top: 8rem;
      width: 90%;
  }

  .fesection_1 {
      width: 33%;
      margin: 0px;
  }

  .fesection_1 img {
      margin-top: -50px;
  }

  .fesection img {
      width: 100%;
      height: auto;
  }

  .leftside {
      display: flex;
      justify-content: right;
      align-items: center;
      width: 100%;
      height: 30%;
      padding: 10px;
  }

  .leftside h4 a {
      text-decoration: none;
      font-size: 20px;
      color: black;
  }

  .leftside h4 a:hover {
      color: #f8395d;
      transition: color 1s linear;
  }

  .leftside img {
      width: 100%;
      height: 80px;
  }

  .rightside {
      display: flex;
      justify-content: left;
      width: 100%;
      height: 20%;
      padding: 10px;
      margin-top: 70px;
  }

  .rightside h4 a {
      text-decoration: none;
      font-size: 20px;
      color: black;
  }

  .rightside h4 a:hover {
      color: #f8395d;
      transition: color 1s linear;
  }

  .rightside img {
      width: 100%;
      height: 100px;
      margin-top: 5px;
  }

  .leftside img {
      width: 100%;
      height: 100px;
      margin-top: 5px;
  }

  .parasection {
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .parasection p {
      width: 100%;
      text-align: left;
  }

  .parasection i {
      color: #f8395d;
  }

  .support {
      width: 100%;
      height: 60vh;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding-bottom: 60px;
  }

  .support1 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }

  .support1 h2 {
      text-transform: uppercase;
      font-size: 2.5rem;
      color: #f8395d;
      margin-top: 100px;
  }

  .support1 p {
      font-size: 15px;
      color: #f8395d;
      margin-top: 15px;
  }

  .support1 p.p_2 {
      font-size: 15px;
      color: #a640d0 !important;
      margin-top: -10px;
  }

  .support2 {
      width: 70%;
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .supportitem {
      width: 30%;
      margin: 40px;
      padding: 40px;
  }

  .item_1 {
      margin-top: -20px;
  }

  .item a {
      text-decoration: none;
      color: black;
  }

  .support2 i {
      height: 65px;
      width: 65px;
      background: #f8395d;
      border-radius: 5px;
      display: block;
      text-align: center;
      line-height: 65px;
      color: #fff;
      margin: auto;
      font-size: 36px;
      border: 1px solid #f8395d;
  }

  .support2 i:hover {
      background-color: #fff;
      color: #f8395d;
      transition: color 1s linear;
  }

  .item a h3 {
      color: var(--trans);


  }

  .item:hover {
      --trans: #f8395d;
  }

  .supportitem {
      width: 30%;
      margin: 10px;
      margin-top: 45px;
      padding: 15px;
  }

  .supportitem_1 {
      margin-top: 25px;
      padding: 30px;
      width: 33%;
  }

  .supportitem_2 {
      margin-top: -2rem;
      padding: 15px;
      width: 33%;
  }

  .item h3 {
      margin-top: 30px;
      padding: 0px;
      font-family: "Montserrat", sans-serif;
      text-align: center;
      color: black;
      opacity: 0.8;
  }

  .item p {
      margin-top: 20px;
      text-align: center;
      font-size: 15px;
      color: black;
      opacity: 0.8;
  }

  /* ------------------------------------------------------ */
  .testiminials {
      width: 100%;
      height: auto;
      background-color: #f1f1f1;
      display: flex;
      flex-direction: column;
  }

  .test {
      display: flex;
      flex-direction: column;
      width: 100%;
      justify-content: center;
      align-items: center;
  }

  .test h2 {
      text-transform: uppercase;
      color: #f8395d;
      margin-top: 6rem;
      font-size: 1rem;
  }

  .test .p_1 {
      color: #f8395d;
      font-size: 15px;
  }

  .test .p_2 {
      color: #a640d0;
      font-size: 15px;
  }

  .test2 {
      display: flex;
      justify-content: center !important;
      align-items: center !important;
      width: 100%;
  }

  .maintest {
      display: flex;
      justify-content: center !important;
      align-items: center !important;
      flex-direction: column;
      width: 70%;
      padding: 20px;
  }

  .maintest p {
      text-align: center;
      font-size: 18px;
      color: #444444 !important;
      line-height: 26px;
      letter-spacing: 0.588px;
      background: #f1e8e9;
      border-radius: 10px;
      padding: 20px 250px;
      margin-bottom: 25px;
      position: relative;
      margin-top: 5rem;
  }

  .img img {
      width: 300px;
      height: 300px;
      margin-top: 4rem;
  }

  .innerdiv {
      margin-top: 2rem;
      margin-bottom: 6rem;

  }

  .innerdiv a {
      text-decoration: none;
      text-align: center;
      color: #f8395d;
      font-size: 2rem;
      font-family: "Montserrat", sans-serif;
      padding: 25px 0px 12px 0px;
      font-weight: 400;
      transition: color 1s linear;
      position: relative;

  }

  .expert {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 100%;
      height: 100vh;
  }

  .expert_1 {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin-top: -7rem;
  }

  .expert_1 h2 {
      text-transform: uppercase;
      color: #f8395d;
      font-size: 2rem;
  }

  .expert_1 .p_1 {
      font-size: 15px;
      color: #f8395d;
  }

  .expert_1 .p_2 {
      font-size: 15px;
      color: #a640d0;
      margin-top: -10px;
  }

  .expert_2 {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 5rem;
  }
  .img1 img {
      width: 100% !important;
      height: 200px;
  }

  .img1 {
      position: relative;
      width: 100%;
      
  }
  .img__img {
    display: block;
    width: 100%;
    height: 200px;
    
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: transparent;
    font-family: "Montserrat", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.6;
    transition: color 1s linear;
   
   
    
  }

  .color {
      font-size: 1rem;
      font-weight: bold;
      z-index: 2 !important;
      /* display: hidden; */
  }


  .overlay:hover{
    opacity: 1;
    background-color: #f8395d;
    color: white;
    text-align: center;
    opacity: 0.8;
    transition: 1s linear; 
  }



  .community {
      width: 100%;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .community1 img {
      width: 800px;
      height: 800px;
  }

  .communityform {
      width: 70%;
      margin-left: 7rem;
  }

  .title h3 {
      font-size: 25px;
      font-family: inherit;
      color: inherit;
      margin-top: -4rem;
  }

  .communityform p {
      font-size: 18px;
      margin-top: 2rem;
      font-family: inherit;
      color: inherit;
  }

  .communityform p a {
      text-decoration: none;
  }

  .communityform ul li {
      list-style: none;
      font-size: 18px;
      font-family: inherit;
      color: inherit;
  }

  /* --------------------------------------- */

  .documentation {
      width: 100%;
      height: 80vh;
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .documents {
      width: 40%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }

  .documents h1 {
      font-size: 25px;
      font-family: "Montserrat", sans-serif;
      text-transform: uppercase;
      color: #222222;
      font-weight: 400;
      position: relative;
  }

  .docmnts .p_1 {
      font-size: 15px;
      color: #f8395d;
  }

  .docmnts .para {
      font-size: 16px;
      line-height: 28px;
      color: #696969;
      font-family: "Lato", sans-serif;
      padding: 45px 140px 35px 0px;
  }

  .button_2 {
      font-size: 15px;
      padding: 20px 40px;
      background-color: #f8395d;
      color: white;
      border-radius: 15px;
      border: none;
  }

  .decuments_1 img {
      width: 100%;
      height: 500px;
  }

  .androidapp {
      background-color: #f1f1f1;
      padding: 100px 0px;
  }

  .container {
      width: 100%;
      width: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
  }

  .container h1 {
      font-size: 55px;
      width: 25%;
      line-height: 1;
      color: #f8395d;
      font-weight: bold !important;
      font-family: "Montserrat", sans-serif;
      text-align: center;
  }

  .btnbtn {
      margin-top: 2rem;
      padding: 20px 40px;
      border-radius: 10px;
      border: none;
      font-size: 15px;
      text-transform: uppercase;
      background-color: #f8395d;
      color: white;
  }

  .btnbtn:hover {
      background-color: white;
      color: #f8395d;
      transition: color 1s linear;
  }

  .techinal {
      width: 100%;
      height: 80vh;
      display: flex;
      justify-content: left;
      align-items: center;
  }

  .contact {
      width: 33%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 10rem;
  }

  .contact a {
      text-decoration: none;
  }

  .contact h2 {
      font-family: inherit;
      font-weight: 500;
      line-height: 1.1;
      color: inherit;
      font-size: 30px;
  }

  .contact h1 {
      font-family: inherit;
      font-weight: 500;
      line-height: 1.1;
      color: inherit;
      font-size: 30px;
  }

  .contact p {
      font-family: "Lato", sans-serif;
      color: #696969;
      font-size: 16px;
  }

  .middle a {
      height: 50px;
      width: 50px;
      border: 1px solid #e2e2e2;
      border-radius: 50%;
      line-height: 50px;
      text-align: center;
      color: #f8395d;
      font-size: 25px;
      display: inline-block;
      margin: 20px;
      z-index: 2;
      background-color: transparent;
      box-shadow: 0px 5px 15px -5px #696969;
      overflow: hidden;

  }

  .middle a i {
      transition: 1s linear;
  }

  .middle a i:hover {
      transform: scale(1.5);
      background-color: #f8395d;
      color: white;
  }

  .footer {
      width: 100%;
      height: auto;
      background-color: #222222;
  }

  .fcontainer {
      width: 90%;
      padding: 10px 30px;
      display: flex;
      justify-content: space-between;
      align-items: center;
  }

  .footer-left h3 {
      font-size: 20px;
      font-family: "Lato", sans-serif;
      color: white;
  }

  .footer-right ul {
      list-style: none;
      margin: 0px;
      padding: 0px
  }

  .footer-right ul li {
      list-style: none;
      display: inline-block;
      padding: 10px;
      font-size: 20px;
      color: white;
      cursor: pointer;
  }

  .footer-right ul li a {
      text-decoration: none;
  }

  .footer-right ul li:hover {
      color: #f8395d;
  }